.login{
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
    height : 100vh;
    // background-color : #3f3e3e;
}

.login-card{
    width : 280px;
    margin-top : 60px;
    margin-left : 100px;
    font-size : 16px;
    line-height : 30px;
}

.login-form{
    display : flex;
    flex-direction : column;
    width : 500px;
}

.login-button{
    display : flex;
    align-items : center;
    justify-content : center;
}
