.login{
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
    height : 100vh;
}

.login-card{
    width : 280px;
    margin : 20px auto 0 auto;
    font-size : 16px;
    line-height : 30px;
}

.login-form{
    display : flex;
    flex-direction : column;
    width : 500px;
}

.login-button{
    display : flex;
    align-items : center;
    justify-content : center;
}